{% extends "base.html" %} {% block title %}Sign Up{% endblock %}
{%block content %}
<form method="post">
    <h3 align="center">Sign Up</h3>
    <div class="from-group">
        <label for="email">Email Address</label>
        <input
        type="email"
        class="form-control" 
        id="email"
        name="email" 
        placeholder="Enter email"
        /> 
    </div>

    <div class="from-group">
        <label for="firstName">First Name</label>
        <input
        type="firstName"
        class="form-control" 
        id="firstName"
        name="firstName" 
        placeholder="Enter firstName"
        /> 
    </div>

    <div class="from-group">
        <label for="password1">Password</label>
        <input
        type="password"
        class="form-control" 
        id="password1"
        name="password1" 
        placeholder="Enter Password"
        /> 
    </div>
    
    <div class="from-group">
        <label for="password2">Confirm your password:</label>
        <input
        type="password"
        class="form-control" 
        id="password2"
        name="password2" 
        placeholder="Confirm your password:"
        /> 
    </div>

    <!----------------------radio button admin--------------------->
    <div class="form-check">
        <h5 style="padding: 10px;">Da li ste admin</h5>
        <input class="form-check-input" type="radio" name="is_admin" id="is_admin">
        <label class="form-check-label" for="flexRadioDefault1">
          Da
        </label>
      </div>
      <div class="form-check">
        
        <input class="form-check-input" type="radio" name="is_admin" id="is_admin">
        <label class="form-check-label" for="flexRadioDefault1">
          Ne
        </label>
      </div>
      
      <!----------------------radio button close--------------------->


<br/>
    <button type="submit" class="btn btn-primary">submit</button>
</form>
{%endblock %}